# Copyright 2026 SecretoftheUniverse.com LLC. Licensed under the Apache License, Version 2.0.
# SPDX-License-Identifier: Apache-2.0

# EOD Historical Data (EODHD) API token
# https://eodhd.com/financial-apis/api-for-historical-data-and-volumes
EODHD_API_KEY=your_api_key_here
